:root {
    --clr-orange: 26 100% 55%;
    --clr-pale-orange: 25 100% 94%;
    --clr-vd-blue: 220 13% 13%;
    --clr-d-grayish-blue: 219 9% 45%;
    --clr-l-grayish-blue: 223 64% 98%;
    --clr-grayish-blue: 220 14% 75%;
    --clr-white: 0 0% 100%;
    --clr-black: 0 0% 0%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}

a {
    text-decoration: none;
    color: hsl(var(--clr-black));
    font-weight: 700;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.navbar {
    align-items: baseline;
}

.cart,
.avatar {
    cursor: pointer;
}

h2 {
    color: hsl(var(--clr-orange));
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: .7rem;
}

h1 {
    font-weight: 700;
    font-size: 1.5rem;
}

.details p:first-of-type {
    color: hsl(var(--clr-d-grayish-blue));
    font-size: .8rem;
    line-height: 1.5;
    margin-bottom: 0.75rem;
}

.price {
    font-weight: 700;
    font-size: 1.5rem;
}

.discount {
    align-items: center;
    background-color: hsl(var(--clr-pale-orange));
    color: hsl(var(--clr-orange));
    border-radius: 5px;
    padding: 0.3rem .5rem;
    font-weight: 700;
    font-size: 0.8rem;

}

.old-price {
    color: hsl(var(--clr-grayish-blue));
    font-weight: 700;
    font-size: 0.8rem;
    text-decoration: line-through;
}

.price-summary {
    align-items: center;
    justify-content: space-between;
}

.amount {
    background-color: hsl(var(--clr-l-grayish-blue));
    padding: 1rem;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.amount span {
    font-weight: 700;
}

.add-item {
    background-color: hsl(var(--clr-orange));
    color: hsl(var(--clr-white));
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-radius: 10px;
    font-weight: 700;
    font-size: .8rem;
}


.add-item svg path {
    fill: hsl(var(--clr-white));
}



main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-block: 4rem;
}

.menu,
.previous,
.next {
    display: none;
}

.cart {
    margin-left: auto;
}

.avatar {
    width: 1.5rem;
}



.main-img {
    background-size: cover;
    width: 100%;
    height: 100vw;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
}

.main-img div {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 8px;
    background-color: hsl(var(--clr-white));
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
}



.details {
    flex-direction: column;
    padding-inline: 1.5rem;
}

h1 {
    max-width: 20ch;
}

.imgs {
    flex-direction: column;
    gap: 1.5rem;
}

@media (max-width: 46.999em) {
    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        padding: 1rem 1.5rem 1.5rem;
        background-color: hsl(var(--clr-white));
    }

    .nav {
        flex-direction: column;
        background-color: hsl(var(--clr-white));
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 30%;
        z-index: 1000;
        padding: 7rem 10%;
        --gap: 1.5rem;
        transform: translateX(-100%);
        transition: transform 250ms ease-out;
    }

    .navbar[aria-expanded='true'] .nav {
        transform: translateX(0);
    }

    .navbar[aria-expanded='true'] .menu {
        background-image: url(../images/icon-close.svg);
    }

    .menu {
        display: block;
        background-color: transparent;
        background-image: url(../images/icon-menu.svg);
        background-repeat: no-repeat;
        width: 1rem;
        height: 1rem;
        z-index: 2000;
        cursor: pointer;
    }

    .next {
        display: block;
        background-image: url(../images/icon-next.svg);
    }

    .previous {
        display: block;
        background-image: url(../images/icon-previous.svg);
    }

    .add-to-cart {
        flex-direction: column;
    }

    .thumbs {
        display: none;
    }
}

@media (min-width:47em) {
    body {
        min-width: 47rem;
        max-width: 80%;
        margin-inline: auto;
    }

    .navbar {
        padding-block: 1.5rem 2rem;
        align-items: center;
        gap: 3rem;
        border-bottom: 1px solid hsl(var(--clr-grayish-blue)/0.4);
    }

    .nav {
        gap: 2rem;
    }

    a {
        color: hsl(var(--clr-d-grayish-blue)/.8);
        font-size: 0.9rem;
    }

    .avatar {
        width: 3.5rem;
    }

    main {
        flex-direction: row;
        align-items: center;
        margin-block: 6rem;
        gap: 10%;
        padding-inline: 3rem;
    }

    h1 {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }

    main>* {
        flex: 1;
    }

    .main-img {
        padding-inline: 0;
        height: 50vh;
        border-radius: 15px;
    }

    .details {
        padding-inline: 0;
    }

    .details p:first-of-type {
        margin-bottom: .5rem;
    }

    .price-summary {
        flex-direction: column;
        align-items: start;
        margin-block: 0 1rem;
    }

    .amount {
        flex-grow: 1;
    }

    .add-item {
        flex-grow: 2;
    }

    .imgs .thumbs {
        --gap: 0;
        justify-content: space-between;
    }

    .imgs img {
        border-radius: 10px;
        width: 4rem;
        height: 4rem;
    }
}